@font-face {
    font-family: RainyHearts;
    src: url(rainyhearts.ttf);
}

body {
    background-image: url('https://wallpapercave.com/wp/wp2465441.png');
}

.biggo {
    background-image: url('/backgroundo.png');
    background-repeat: no-repeat;
    background-size: 110%;
}


.container {
    font-family: RainyHearts;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.container .a {
    align-self: center;
    width: 600px;
    height: 600px;
    background-color: #F4DAF3;
    border-radius: 5%;
}

.container button {
    width: 170px;
    margin: 60px 10px 10px 215px;
}

.container h1 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
    text-align: center;
}


.container h1 img{
    width: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.container .haato img{
    height: 50px;
    width: 160px;
    margin-left: 210px;
}

.container .footer img{
    height: 30px;
    width: 30px;
    margin-top: 70px;
    margin-left:290px;

}

.nome{
    margin-left: 210px;
}

img {
    margin-left: 58px;
    width: 80%;
    height: 80%;
    max-height: 400px;
    max-width: 500px;
}

.smol {
    margin-top: 555px;
    margin-left: 290px;
    width: 40px;
    height: 50px;
}

ol {
    margin-top: 20px;
    margin-left: 100px;
}